@import "globals/Variables";

.card {
  display: flex;
  flex-direction: column;
  font-family: $text-font;
  align-items: center;
  width: 20em;
  box-shadow: 3px 3px 5px grey;
}

.card h2 {
  margin: 0px;
  display: flex;
  font-family: $header-font;
  justify-content: center;
  align-items: center;
  background: #c132e3;
  color: white;
  height: 45px;
  width: 100%;
}
