.forum-topics-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  box-shadow: 4px 4px 10px $grey;
  border-radius: 10px;
  header {
    padding: 10px;
    display: flex;
    white-space: nowrap;
    height: 40px;
    justify-content: space-between;
  }
  .forum-head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .forum-tail {
    display: none;
  }
  img {
    border-radius: 50%;
  }
  h3 {
    color: black;
    font-family: $header-font;
    font-weight: bold;
    margin: 2px;
  }
  h4 {
    text-transform: uppercase;
    color: #f500f5;
    margin: 2px;
  }
  bdi {
    color: $grey;
    font-style: italic;
    margin: 2px;
  }
  p {
    font-size: 0.8em;
  }
  .forum-body {
    height: 210px;
    padding: 10px;
    background: #eceff2;
    display: inline-flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .forum-body-img {
    display: none;
  }
  .forum-body-header {
    display: flex;
  }
  .forum-body-title {
    width: 50%;
  }
  .forum-body-buttons {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    button {
      background: white;
      margin: 0 2px;
      border: none;
      font-size: 0.6em;
    }
  }
  .forum-body-text {
    font-size: 0.8em;
    font-weight: bold;
    height: 50%;
    overflow: auto;
  }
}

@media only screen and (min-width: 600px) {
  .forum-topics-container {
    width: 90%;
    .forum-body-img {
      display: flex;
      border-radius: 10px;
    }
    .forum-tail {
      display: flex;
    }
    .forum-body-buttons {
      button {
        font-size: 1em;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .forum-topics-container {
    width: 800px;
    .forum-body-img {
      display: inline-flex;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .forum-body-img {
    display: inline-flexbox;
    border-radius: 10px;
    margin: 10px;
    height: 200px;
  }
}
