@import "globals/Variables";

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-bottom: 4px solid $border;
    ul{
        display: flex;
        flex-direction: row;
        align-self: center;
        list-style: none;
        font-weight: bold;
        margin: 0;
        padding: 0 10px;
    }
    h2{
        width: min-content;
        margin: 0;
    }
    img[alt="add"]{
        border-radius: 50%;
        margin-top: -5px;  
        background: $highlight;
    }
}

.nav_main{
    display: flex;
    flex-direction: column;
}

li{
    padding: 5px;
    &:hover{
        color: black;
        cursor: pointer;
    }
}

/*Media Queries*/

@media only screen and (min-width: 600px) {
  .nav_main{
      width: 100%;
      h2{
          margin-left: 20px;
      }
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav{
        flex-direction: row;
        height: 60px;
        h2{
            margin-right: 20px;
        }
    }

    .nav_main{
        flex-direction: row;
    }
    
    .nav_icons{
        margin-right: 20px;
        margin-top: 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav{
        font-size: 1.2em;
        padding: 0 40px;
        h2{
            margin-right: 40px;
        }
        li{
            padding: 5px 10px;
        }
    }
}