@import "components/Nav";
@import "components/AuthorList";
@import "components/Card";
@import "components/NewsFeed";
@import "components/Feed";
@import "components/Forum";
@import "components/Footer";

@import "globals/Variables";

/*global styles*/
body {
  margin: 0;
  font-family: $header-font;
  background: $light-grey;
}

p {
  font-family: $text-font;
}

h2 {
  font-family: $header-font;
}
.commercial{
  display: none;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .App{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .commercial{
    display: block;
  }
}

