@import "components/Nav";
@import "components/Card";
@import "components/Feed";
@import "components/Forum";
@import "components/Footer";

/*global styles*/
body {
  margin: 0;
  font-family: $header-font;
  background: $light-grey;
}

p {
  font-family: $text-font;
}

h2 {
  font-family: $header-font;
}
