@import "globals/Variables";

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-bottom: 4px solid $border;
    ul{
        display: flex;
        flex-direction: row;
        align-self: center;
        list-style: none;
        font-weight: bold;
        margin: 0;
        padding: 0 10px;
    }
    h2{
        font-family: $logo-font;
        width: min-content;
        margin: 0 5px;

    }
    img{
        border-radius: 50%;
        margin-top: -5px;
    }
    img[alt="add"]{
        background: $highlight;
    }
    img[alt="notification"]{
        margin-top: 0;
    }
    img[alt="new"]{
        margin-left: -12px;
        margin-top: -8px;
        position: fixed;
    }
}

.nav_main{
    display: flex;
    flex-direction: column;
}

li{
    padding: 5px 10px;
    font-family: $header-font;
    &:hover{
        color: black;
        cursor: pointer;
    }
}

.unregistered{
    display: flex;
    flex-direction: row;
    align-items: center;
    span{
        font-weight: bolder;
        color: $grey;
    }
    h3{
        padding: 5px;
        width: max-content;
        margin: 5px;
    }
}

/*Media Queries*/

@media only screen and (min-width: 600px) {
  .nav_main{
      width: 100%;
      h2{
          margin-left: 20px;
      }
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav{
        flex-direction: row;
        height: 60px;
        h2{
            margin-right: 20px;
        }
    }

    .nav_main{
        flex-direction: row;
    }
    
    .nav_icons{
        margin-right: 20px;
        margin-top: 10px;
        align-items: center;
        img{
            margin-top: 0;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav{
        grid-row: 1/2;
        grid-column: 1/4;
        font-size: 1.2em;
        padding: 0 40px;
        img[alt="notification"]{
            margin-top: 5px;
        }
        h2{
            margin-right: 40px;
        }
        li{
            padding: 5px 10px;
        }
        img[alt="new"]{
            margin-top: 0;
        }
    }
}