<%- include('includes/head.ejs') %>
</head>
<body>
  <div>
    <main>
      <div style="text-align: center;">
        <h1>Endpoints Documentation</h1>
        <h3>Method: GET</h3>
        <p><i><b>/ - <a href="/">Index route: landing page</a></b></i></p>

        <p><i><b>/auth/google - <a href="/auth/google">Sign In route: With Google</a></b></i></p>

        <p><i><b>/api/current_user - <a href="/api/current_user">User profile route: Single User</a></b></i></p>

        <p><i><b>/api/logout - <a href="/api/logout">Logout route: User logout</a></b></i></p>

        <p><i><b>/documentation - <a href="/documentation">Documentation route: Endpoints documentation</a></b></i></p>
        <br>
        <h3>Method: POST</h3>

        <p><b>:)</b></p>
      </div>
    </main>
  </div>

  <%- include('includes/end.ejs') %>