<%- include('includes/head.ejs') %>
</head>
<body>
  <div>
    <main>
      <div style="text-align: center;">
        <h1>CodeBase Server</h1>
        <p><i><b><a href="/documentation">Follow this link to the documentation page</a></b></i></p>
        <p><b>:)</b></p>
      </div>
    </main>
  </div>

  <%- include('includes/end.ejs') %>